brotlipy==0.7.0
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.8
django-appconf==1.0.2
django-autoslug==1.9.3
django-extensions==1.9.8
django-imagekit==4.0.2
django-registration-redux==1.9
djangorestframework==3.7.3
enum34==1.1.6
gunicorn==19.7.1
idna==2.6
oauthlib==2.0.6
olefile==0.44
pbr==3.1.1
pilkit==2.0
Pillow==4.3.0
psycopg2==2.7.3.2
pycparser==2.18
PyJWT==1.5.3
python-decouple==3.1
python-openid==2.2.5
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.0.0
social-auth-core==1.5.0
static3==0.7.0
stevedore==1.27.1
typing==3.6.2
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
waitress==1.0.2
whitenoise==3.3.0
