chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.8
django-appconf==1.0.2
django-autoslug==1.9.3
django-extensions==1.9.8
django-imagekit==4.0.2
django-registration-redux==1.9
enum34==1.1.6
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
